/* You can add global styles to this file, and also import other style files */
$body-bg: rgb(247, 243, 243);
$body-color: rgb(51, 15, 15);

$theme-colors: (
  "primary": #a0c8eb,
  "danger": #ff4136
);

@import "../node_modules/bootstrap/scss/bootstrap";
